table, tr#eventTypeTable {
	background-color: #454d3e;
	color: #f78f1e;
	font: 1em "Arial Black";
	text-align: center; 
	width: 100%;
}

a, a:visited{
	color: #f78f1e;
	padding-right: 10px;
	padding-left: 10px;
	font: 1em "Arial Black";
	text-decoration: none;
	
}

a:hover{
	color: #c36e13;
	font: 1em "Arial Black";
	text-decoration: none;
}

tr.tableValuesTop{
	border-top: 1px solid #000000;
	color: #000000;
	font: 1em "Arial";
}

tr.tableValuesBottom{
	border-bottom: 1px solid #000000;
	color: #000000;
	font: 1em "Arial";
}