table {
	background-color: #454d3e;
	color: #f78f1e;
	font: 1em "Arial Black";
	margin-left: auto;
	margin-right: auto;
	padding: 8px;
	width: 100%;
}

table tr#programMenu {
	background-color: #454d3e;
	color: #f78f1e;
	font: 1em "Arial Black";
	margin-left: auto;
	margin-right: auto;
	text-align: center; 
	width: 100%;
}

td.tableValues{
	border: none;
	color: #000000;
	font: 1em "Arial";
	text-align:center;
}

tr td.tablevaluesrowheader{
	padding-left: 10px;
	color: #000000;
	font: 1em "Arial";
}

td.totalTableValues{
	color: #000000;
	font: 1em "Arial Black";
	font-weight: bold;
	text-align:center;
}

th#programTableHeader {
	margin-left: auto;
	margin-right: auto;
}

th.menuBox a, td.menuBox a, td.menuBox a:visited{
	color: #f78f1e;
	width: 40%;
	font: 1em "Arial Black";
	text-decoration: none;
	
}

th.menuBox a:hover, td.menuBox a:hover{
	color: #c36e13;
}


td.leagueBox, td.leagueBox a, td.leagueBox a:visited{
	color: #f78f1e;
	width: 12%;
	padding-left:5px;
	font: 1em "Arial Black";
	text-decoration: none;
}

td.leagueBox a:hover{
	color: #c36e13;
}

td.eventHeader, td.eventHeader a, td.eventHeader a:visited{
	color: #f78f1e;
	width:50%;
	padding-left: 5px;
	font: 1em "Arial Black";
	text-decoration: none;
}

td.eventHeader a:hover{
	color: #c36e13;
}

th.marketBox, td.marketBox {
	color: #000000;
	padding-left:5px;
	font: 1em "Arial Black";
	text-decoration: none;
}

td.counter {
	color: #000000;
	width: 12%;
	padding-left:5px;
	font: 1em "Arial Black";
	text-decoration: none;
	text-align: center;
}

tr.tableValuesTop{
	border-top: 1px solid #000000;
	color: #000000;
	font: 1em "Arial";
}

tr.tableValuesBottom{
	border-bottom: 1px solid #000000;
	color: #000000;
	font: 1em "Arial";
}

colgroup, col, .lightBG{
	background-color: #E8E8E8
}

colgroup, col, .darkBG{
	background-color: #D8D8D8
}