table, tr#programMenu {
	background-color: #454d3e;
	color: #f78f1e;
	font: 1em "Arial Black";
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	text-align: center; 
	width: 100%;
}

td.tableValues{
	border: none;
	color: #000000;
	font: 1em "Arial";
	text-align:center;
}

td.totalTableValues{
	color: #000000;
	font: 1em "Arial Black";
	font-weight: bold
}

th#programTableHeader {
	margin-left: auto;
	margin-right: auto;
	
}

th.menuBox a, td.menuBox a, td.menuBox a:visited{
	color: #f78f1e;
	width: 40%;
	font: 1em "Arial Black";
	text-decoration: none;
	
}

th.menuBox a:hover, td.menuBox a:hover{
	color: #c36e13;
	font: 1em "Arial Black";
	text-decoration: none;
}

colgroup, col, .lightBG{
	background-color: #E8E8E8
}

colgroup, col, .darkBG{
	background-color: #D8D8D8
}